# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Vite.js
dist/
.vite/
.vscode/

# Logs
logs
*.log
*.log.*

# Environment variables
.env
.env.*.local

# IDEs
.idea/
*.iml
.DS_Store
Thumbs.db

# Miscellaneous
*.swp
*.swo
*.bak
*.tmp

# Raw Javascript
*.js